.header-title {
  display: flex;
  justify-content: center;
  padding: 60px;
  background-color: #333; }

.header-title-link {
  font-size: 40px;
  color: #EEE;
  text-decoration: none; }

.header-title-link:hover {
  text-decoration: none;
  color: #9dffd4; }

.view-heading {
  text-align: center;
  color: #333; }

footer {
  padding: 100px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #FFF; }
