.form-group {
  display: flex;
  justify-content: center;
  align-content: center; }

.form-group label {
  display: block;
  width: 20%; }

.form-group input {
  display: block;
  width: 100%; }

.form-group-center {
  display: flex;
  justify-content: center; }

.dropzone {
  /*border: none !important;*/
  min-height: 10px;
  min-width: 100px;
  /*height: 40px;
    width: 300px;*/
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
  vertical-align: central;
  display: flex;
  justify-content: center;
  align-content: center; }

.dz-drop {
  margin: 0 !important;
  vertical-align: central; }

.material-icons {
  font-size: 20px; }

.material-icons:hover {
  font-style: normal;
  text-decoration: none; }
