@model Model.Entities.Products.Product

<h4>Proizvod: @Model.Name</h4>
<hr />
<div class="col-10">
    <form asp-action="edit_product" , asp-route-id="@Model.Id">
        <input type="hidden" asp-for="Id" />
        <partial name="Partial/CreateEdit/_CreateEditProductPartial" />
    </form>

    <form asp-action="set_imageAsync" asp-route-productId="@Model.Id" enctype="multipart/form-data" class="dropzone" id="imageDropzone">
        <img class="product-image-edit" src=@Model.Image />
        <div class="dz-drop dz-message needsclick">
            Postavite sliku<br>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/dropzone/min/dropzone.min.css" />
    <link rel="stylesheet" href="~/css/management.min.css" />
}

@section Scripts
{
    <script src="~/dropzone/min/dropzone.min.js"></script>
}