@model Model.Entities.Artist

<h4>Novi Umjetnik</h4>
<hr />
<div class="col-10">
    <form asp-action="create_artist">
        <partial name="Partial/CreateEdit/_CreateEditArtistPartial" />
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>