@model Model.Entities.Utility.Material

<h4>Novi Materijal</h4>
<hr />
<div class="col-10">
    <form asp-action="create_material">
        <partial name="Partial/CreateEdit/_CreateEditMaterialPartial" />
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>