@model List<Model.Entities.Products.Product>

<h1 class="welcome-heading">
    Dobrodošli u galeriju!
</h1>

<div class="home-preview">
    @foreach (var product in Model)
    {
        <partial name="Partial/_ProductPartial" , model="@product" />
    }
</div>